<div class="greetings__container"> 
  
  <%= t 'greetings'%>

  <img
      class="logo"
      src="https://d30o7qbghf97ws.cloudfront.net/micolet-logo.svg"
      alt="logo-micolet"
  />
  
  <div class="link__container">
    <%= link_to "Back", new_user_path %>
  </div>
</div>
