<div class="container">
  <img
    class="logo"
    src="https://d30o7qbghf97ws.cloudfront.net/micolet-logo.svg"
    alt="logo-micolet"
  />
  <p class="logo-subtitle"><%= t 'logo'%></p>
  <div class="titles">
        <h2><%= t 'welcome'%> </h2>
        <h3><%= t 'suscribe'%> </h3>
  </div>
  <%= render "form", user: @user %>
  
  
</div>
